@font-face {
    font-family: libel-suit;
    src: url('../fonts/libel-suit.regular.ttf');
}

:root {
    --danger: #e63946;
    --light: #f1faee;
    --secondary: #a8dadc;
    --primary: #457b9d;
    --dark: #1d3557;
    --black: #444;
    
    --dark-transparent: rgb(29, 53, 87, .5);
}

html, body {
    margin: 0;
    padding: 0;

    font-family: libel-suit;
    font-size: 62.5%;
    color: var(--black);
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2.5rem;
}
p, a, li, td, th, blockquote {
    font-size: 2rem;
}

a {
    color: var(--danger);
}

h2::before {
    content: "❲";
}
h2::after {
    content: "❳";
}