
#menu {
    background-color: var(--dark);
    overflow: hidden;
    border-bottom: solid .25rem var(--light);
}
#menu ul {
    margin: 0;
    padding: 0;

    text-align: center;
}
#menu ul li {
    display: inline-block;
    min-width: 10%;

    list-style-type: none;
}
#menu ul li a {
    display: block;
    padding: 1rem;

    color: var(--light);
    text-decoration: none;
}
#menu ul li a:hover {
    transform: rotate(+5deg);
    color: var(--secondary);
    border-left: solid 2px var(--light);
}

.logo {
    display: inline-block;
    width: 4rem;
    padding: .25rem 0 0 0;
    margin-right: .5rem;
    vertical-align: middle;

    border: solid 1px var(--light);
    border-radius: 100%;
    background: radial-gradient(var(--light), transparent 55%);
    box-shadow: 0 0 2rem var(--dark); 
}
.logo img {
    width: 2.3rem;
}