
/* Me Header */
#me {
    height: 50vh;
    background: url('../images/AndyPrickett.blue.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    color: var(--light);
}
#me h1 {
    position: relative;
    float: right;
    top: 40%;
    right: 10%;
}


/* About Section */
#about { 
    padding: 1rem 0;
    background: var(--light);
    line-height: 3.5rem;
}
#about > div {
    display: grid;
    width: 50%;
    margin: auto;
    padding: 5rem 0;

    grid-template-columns: auto auto;
}
#about > div > div {
    padding: 2rem;
}

#about > .gif {
    padding: 0;
}
#about .gif img {
    width: 100%;
}


/* Code Section */
#code {
    padding: 5rem 0;
    
    background: url('../images/background.code.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

#code > div {
    display: grid;
    width: 50%;
    margin: auto;
    padding: 5rem 0;

    grid-template-columns: auto auto;
}
#code > div > div {
    padding: 2rem;

    line-height: 3.5rem;
    color: var(--light);
}


/* Music Section */
#music {
    padding: 5rem 0;
    
    background: var(--secondary);
}
#music > div {
    display: grid;
    width: 50%;
    margin: auto;
    padding: 5rem 0;

    grid-template-columns: auto auto;
}
#music > div > div {
    padding: 2rem;

    line-height: 3.5rem;
    color: var(--dark);
}


/* Doc Section */
#doc {
    padding: 5rem 0;
    
    background: url('../images/background.production.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
}

#doc > div {
    display: grid;
    width: 50%;
    margin: auto;
    padding: 5rem 0;

    grid-template-columns: auto auto;
}
#doc > div > div {
    padding: 2rem;

    line-height: 3.5rem;
    color: var(--light);
}


/* Contact Section */
#contact {
    padding: 5rem 0;
    
    background: var(--light);
}
#contact > div {
    display: grid;
    width: 50%;
    margin: auto;
    padding: 5rem 0;

    grid-template-columns: auto auto;
}
#contact > div > div {
    padding: 2rem;

    line-height: 3.5rem;
    color: var(--black);
}
#contact > div > div input {
    display: block;
    width: 100%;
    padding: 1rem;
    margin: 0 0 1rem 0;

    font-size: 2rem;
    color: var(--primary);
    background: var(--light);
    border: none;
    border-bottom: solid 1px #ddd;
}
#contact > div > div textarea {
    width: 100%;
    min-height: 10rem;
    padding: 1rem;

    font-size: 2rem;
    color: var(--primary);
    background: var(--light);
    border: none;
    border-bottom: solid 1px #ddd;
}
#contact > div > div button,
#contact > div > div button:active {
    display: block;
    width: 100%;
    padding: 1rem;

    font-size: 2rem;
    color: var(--light);
    background: var(--primary);
    border: none;
    cursor: pointer;
}
#contact > div > div button:hover {
    color: var(--light);
    background: var(--danger);
}
#andy-is-looking-at-you {
    width: 100%;
    height: 100%;
    margin: 1rem;
    opacity: .50;
    background: url('../images/AndyPrickett.blue.jpg');
    background-attachment: cover;
    background-position: center;
    background-size: contain;
}


@media only screen and (max-width: 1000px) {
    #contact > div,
    #about > div,
    #code > div,
    #music > div,
    #doc > div {
        display: block;
        width: 100%;
    }

    #contact > div > div,
    #about > div > div,
    #code > div > div,
    #music > div > div,
    #doc > div > div {
        padding-top: 0;
        padding-bottom: 0;
    }

    .image {
        text-align: center;
    }
    #about > .gif img {
        width: 100%;
    }
    
}
